* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared classes start */

.common-width {
    width: 85%;
    margin: 0 auto;
}

/* shared classes end */

/* header section start */

.header-sec-01 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-sec-01 button {
    padding: 10px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 5px;
}


.header-banner-section {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-banner-section img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.header-banner-section h1 {
    font-weight: 900;
    font-size: xx-large;
    padding: 20px 0;
}

.header-banner-section p {
    color: #0D1321;
    padding: 20px 0 40px;
}

.header-banner-section a {
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
}

/* header section end */

/* why web development section start */

.why-web-dev {
    background-color: rgba(13, 19, 33, 0.02);
    margin: 40px auto;
    border-radius: 5px;
}

.wwd-headings {
    text-align: center;
    margin: 50px auto;
}

.wwd-headings h2 {
    font-weight: 900;
    padding: 50px 0 20px 0;
}

.wwd-headings p {
    padding-bottom: 30px;
}

.wwd-layers .layer {
    width: 85%;
    margin: 0 auto;
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    display: flex;
}

.layer-desc h3 {
    color: rgba(13, 19, 33, 0.7);
    padding: 10px 0;
}

.layer-desc p {
    color: #0D1321;
    padding: 10px 0;
    margin-bottom: 40px;
}

.layer-desc a {
    text-decoration: none;
    color: #0D1321;
    border: 1px solid #0D1321;
    padding: 10px 20px;
    font-weight: bold;
}

/* why web development section end */

/* my inspiration start */

.my-inspiration {
    text-align: center;
    color: #0D1321;
}

.my-inspiration h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding: 10px;
    color: #0D1321;
}

.my-inspiration p {
    color: #0D1321;
}

.my-desc-iframe {
    border: 1px solid #0D1321;
    border-radius: 5px;
    height: 500px;
    margin: 30px 0;
}

.my-desc-iframe iframe {
    border: 1px solid #0D1321;
    border-radius: 5px;
}

/* my inspiration end */
/* my current target start */

.my-current-target {
    text-align: center;
    margin: 50px auto 30px;
}

.my-current-target h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding: 10px;
}

.my-current-target p {
    color: #0D1321;
    padding: 10px;
}


.mct-cards {
    display: flex;
    padding: 20px 0;
}

.mct-cards .card {
    margin: 0 10px;
    padding: 30px;
    border-radius: 5px;
    color: #0D1321;
}

.mct-cards .card h3 {
    text-transform: uppercase;
}

.mct-cards .card>img,
h3,
p,
a {
    padding: 10px;
}

.mct-cards .card a {
    color: #0D1321;
    font-weight: bold;
}

.card1 {
    background-color: rgba(255, 75, 30, 0.05);
}

.card2 {
    background-color: rgba(0, 77, 232, 0.05);
}

.card3 {
    background-color: rgba(255, 223, 0, 0.05);
}

/* my current target end */
/* my next target start */

.my-next-target {
    text-align: center;
    margin-top: 50px;
}

.my-next-target h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding: 10px;
}

.my-next-target p {
    color: #0D1321;
    padding: 10px;
}

.mnt-cards {
    margin: 50px auto;
}

.mnt-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #0D1321;
    border-radius: 20px;
    padding: 20px;
    margin: 15px auto;
}

.mnt-desc {
    padding: 0 10px;
}

.mnt-desc h3 {
    color: #0D1321;
    font-weight: 900;
}

.mnt-desc p {
    color: #0D1321;
}

.mnt-desc a {
    color: #0D1321;
    font-weight: bold;
}

/* my next target end */
/* i need support section start */

.i-need-support {
    text-align: center;
    height: 300px;
    /* background-image: url(../assets/handshake.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

.i-need-support h2 {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    font-size: 1.5rem;
}

.i-need-support p {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.i-need-support input[type="text"] {
    width: 300px;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.i-need-support [type="submit"] {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

/* i need support section end */
/* footer section start */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    height: 70px;
    border-radius: 5px;
    padding: 20px;
}

footer p {
    color: #0D1321;
}

footer span {
    color: red;
    font-size: 1.5rem;
}

.social-icon {
    display: flex;
    gap: 20px;
}

/* footer section end */