* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared classes start */

.common-width {
    width: 85%;
    margin: 0 auto;
}

/* shared classes end */

/* header section start */

.header-sec-01 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-sec-01 button {
    padding: 10px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 5px;
}


.header-banner-section {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-banner-section img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.header-banner-section h1 {
    font-weight: 900;
    font-size: xx-large;
    padding: 20px 0;
}

.header-banner-section p {
    color: #0D1321;
    padding: 20px 0;
}

.header-banner-section button {
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: none;
    text-transform: capitalize;
}

/* header section end */

/* why web development section start */

.why-web-dev {
    background-color: rgba(13, 19, 33, 0.02);
    margin: 40px auto;
    border-radius: 5px;
}

.wwd-headings {
    text-align: center;
    margin: 50px auto;
}

.wwd-headings h2 {
    font-weight: 900;
    padding: 50px 0 20px 0;
}

.wwd-headings p {
    padding-bottom: 30px;
}

.wwd-layers .layer {
    width: 85%;
    margin: 0 auto;
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    display: flex;
}

.layer-desc h3 {
    color: rgba(13, 19, 33, 0.7);
    padding: 10px 0;
}

.layer-desc p {
    color: #0D1321;
    padding: 10px 0;
    margin-bottom: 40px;
}
.layer-desc a{
    text-decoration: none;
    color: #0D1321;
    border: 1px solid #0D1321;
    padding: 10px 20px;
    font-weight: bold;
}

/* why web development section end */

/* my inspiration start */

.my-inspiration{
    text-align: center;
    color: #0D1321;
}
.my-inspiration h3{
    font-weight: 900;
    font-size: 1.5rem;
    padding: 10px;
    color: #0D1321;
}
.my-inspiration p{
    color: #0D1321;
}
.my-desc-iframe{
    border: 1px solid #0D1321;
    border-radius: 5px;
    height: 500px;
    margin: 30px 0;
}
.my-desc-iframe iframe{
    border: 1px solid #0D1321;
    border-radius: 5px;
}

/* my inspiration end */
