* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

.azeret-mono-fonts {
    font-family: "Azeret Mono", monospace;
}

/* fonts */
/* shared classes start */

.common-width {
    width: 85%;
    margin: 0 auto;
}

/* shared classes end */

/* header section start */

.header-sec-01 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header-sec-01 button{
    padding: 10px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 5px;
}

/* header section end */